PORT=3000
NODE_ENV=development
DB_PATH='./data/voicechat.db'

SESSION_SECRET='your-secret'
SIGNUP_SECRET='dev-signup-secret'
LIVEKIT_URL='ws://'
LIVEKIT_API_SECRET='your-secret'
LIVEKIT_API_KEY='your-api-key'